body{
margin:0;
background:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:sans-serif;
}

.calculator{
width:320px;
padding:15px;
}

.display{
color:white;
font-size:40px;
text-align:right;
padding:20px 10px;
min-height:80px;
border-bottom:1px solid #333;
margin-bottom:15px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
}

button{
height:70px;
border:none;
border-radius:50%;
font-size:20px;
background:#1c1c1e;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#333;
}

.gray{
background:#3a3a3c;
}

.operator{
background:#8e8e93;
color:black;
}

.equal{
background:#34c759;
color:white;
}

button:active{
transform:scale(0.95);
}